/*customizing the header*/

/*According to the website that the professor provided in the assignment, 
most of the mobile devices had the width around 400px, so i set the limit as 450px*/


/*changing font for the whole webpage*/
* {
    font-family: Papyrus;
}

/*
header{
    background-color: lightgoldenrodyellow; - setting background color
    text-align: center; - aligning the text center
}
*/

/* customizing the header backgtound color*/
.my-custom-header{
  background-color: lightgoldenrodyellow;
}

/*changing the layout of body*/
/*
body{
    background-color: lightcyan;
    text-align:center;
}
*/

/* customizing the body backgtound color*/
.my-custom-body{
  background-color: lightcyan;
}

/*modifying the font size for paragraph*/
p{
    font-size: 24px;
    margin-top: 20px;
}


/*modifying the appearance of ordered lists*/
ol {
  font-size: 24px;
  list-style-position: inside; /*putting the numbers for thelist inside the container so that it will move along with the text*/
  text-align: center; /* align items in the list to the center, so it does not put the list itself on the center of the page*/
  margin-top: 20px;   
  margin-bottom: 20px;
  padding: 0; /*getting rid of the spaces inbetween text and text, text and boarder. without this, the list was not on the center.*/
}

/*modifying the appearance of unordered list*/
ul{
  font-size: 24px;
  list-style-type: none; /*getting rid of the bullet points*/
  text-align: center; 
  margin-top: 20px;   
  margin-bottom: 20px;
  padding: 0;
}

/* making space above the sentence */
h2{
    margin-top: 30px;
}

/*modifying the font size for h3*/
h3{
    font-size: 23px;
    margin-top: 25px;
}

/*modifying the font size for h4*/
h4{
    font-size: 22px;
}

/*assiging color purple*/
.purple{
    color: purple;
}

/*assiging color magenta*/
.magenta{
    color: #006400;
}

/*assiging color navy*/
.navy{
    color: navy;
}

/*assiging color D10056*/
.rubine_red{
    color: #D10056;
}

/*customizing footer text layout for index.html*/
.footer_text_index{
    font-size: 22px;
    color: rgb(87, 22, 100);
    letter-spacing: 0.003em; /*modifying the space between the letters*/
}

/*cutomizing footer text layout for page2.html*/
.footer_text_page2{
    font-size: 25px;
    color: rgb(87, 22, 100);
    letter-spacing: 0.003em;
}

/*modifying header text layout for index.html*/
#header_title_index{
    font-size: 60px;
    letter-spacing: 0.05em;
}

/*modifying header text layout for page2.html*/
#header_title_page2{
    font-size: 60px;
    color: brown;
    letter-spacing: 0.05em;
}

/*customizing the background and border color for success button*/
.custom-success{
  background-color:purple;
  border-color:gray;
}

/*customizing the font size for primary button*/
.custom-primery{
  font-size: 20px;
}

/* sutomize the header for the regional cuisine*/
#regional_cuisine{
    font-size: 32px;
    margin-top: 30px;
}
/*using flexbox to align the cliccks horizontally*/
/*
#clicks{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    gap: 20px;
}
*/

/*creating separated boxes for each clicks*/
/*
.box{
    background-color: white;
    padding: 20px;
    margin: 10px;
}
*/



/*According to the website that the professor provided in the assignment, most of the mobile devices had the width around 400px, 
so i thought setting the limit as 450px would work perfectly. However, 450px did not work because I could not make my window 
for the webpage smaller than 450px with my PC so I used 600px instead*/
/*when the width of the window is below 600px, the layout will be changed as the followings*/

/*adjusting the header text size of index.html*/
@media (max-width: 600px) {
  #header_title_index{
    font-size: 28px;
  }

  /*adjusting the header text size of page2.html*/
  #header_title_page2{
    font-size: 28px;
  }

  /*adjusting the footer text size and margine above and below of it within index.html*/
  .footer_text_index{
    font-size: 16px;
    margin-top: 10px;   /* space above */
    margin-bottom: 10px; /* space below */
  }

  /*adjusting the paragraph text size*/
  p{
    font-size: 16px;
  }

  /*adjusting the h2 text size*/
  h2{
    font-size: 20px;
  }

  /*adjusting the h3 text size and margin above and below of it */
  h3{
    font-size: 20px;
    margin-top: 20px;   
    margin-bottom: 20px; 
  }

  /*adjusting the h4 text size*/
  h4{
     font-size: 16px;
  }

  /*adjusting the unordered list text size */
  ul{
    font-size: 17px;
  }

  /*adjusting the ordered list text size*/
  ol{
    font-size: 17px;
  }

  /*adjusting the flexbox format according to the size of the screen*/
  /*when the window's width is below 600px, all boxes stack vertically for better layout*/
  /*I had to adjust both clicks(items) and .box(bacjground box) for it to work*/
  
  /*
  #clicks, .box{
    flex-direction: column;
    align-items: center;
  }
  */

  /*adjusting font-size for primary button*/
  .custom-primery{
    font-size: 16px;
  }

  /*adjusting font-size for success button*/
  .custom-success{
    font-size: 14px;
  }

  /* adjusting for the regional cuisine statement*/
  #regional_cuisine{
    font-size: 20px;
    margin-top: 20px;
  }
  
}